* {
    margin: 0;
    padding: 0;
}

html, body {
    /*font-family: 'Droid Sans Mono', 'monospace', 'monospace', 'Droid Sans Fallback';
    */background: hsl(0, 0%, 99%);
}

.navbar {
    width: 100%;
    padding: 15px 0px;
    background: hsl(0, 0%, 93%);
}

.discolor {
    background: linear-gradient(hsl(0, 0%, 93%),hsl(0, 0%, 87%));
    height: 25px;
}

.left {
    float: left;
    width: 50%;
}

.left h3 {
    margin-left: 35px;
    font-weight: 400;
}

.right {
    float: left;
    text-align: right;
    width: 45%;
}

.right input {
    padding: 3px;
}

.main {
    margin-top: 30px;
}

.logo {
    float: left;
    width: 45%;
}

.logo h3 {
    margin: 10%;
}

.signup {
    float: left;
    width: 45%;
    text-align: right;
}

.txt {
    width: 45%;
    margin-left: 50%;
    text-align: left;
    margin-top: 20px;
}

.signup h3 {
    margin-right: 15%;
}

.signup input {
    width: 50%;
    padding: 5px;
    margin-top: 15px;
    margin-left: 20px;
}

.signup input[type="submit"] {
    width: 35%;
    margin-right: 15%;
}